<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SSS | Edit</title>
  </head>
  <body>
    <h1>Edit</h1>
    <h2>{{year}}年 {{month}}月 {{date}}日</h2>
    <h2>preparing...</h2>
    <form action="{{url_for('submit_schedule',user_id=user_id , year=year, month=month, date=date)}}" method="post">
      スケジュール名<br>
      <input type="text" name="schedule_name"><br>
      <select name="start_hour">
        {% for i in range(24) %}
          <option value="{{i}}">{{ "%02d" | format(i)}}</option>
        {% endfor %}
      </select>時
      <select name="start_minute">
        {% for i in [0,30] %}
          <option value="{{i}}">{{ "%02d" | format(i)}}</option>
        {% endfor %}
      </select>分～
      <select name="end_hour">
        {% for i in range(24) %}
          <option value="{{i}}">{{ "%02d" | format(i)}}</option>
        {% endfor %}
      </select>時
      <select name="end_minute">
        {% for i in [0,30] %}
          <option value="{{i}}">{{ "%02d" | format(i)}}</option>
        {% endfor %}
      </select>分<br>
      <input type="submit" name="登録">
      <br>
      <br>
      <ul>
        {% for schedules_this_date in schedules_this_date %}
        <li>{{ "%02d" | format(schedules_this_date[6]/3600)}}:{{ "%02d" | format((schedules_this_date[6]/60)%60)}}~{{ "%02d" | format(schedules_this_date[7]/3600)}}:{{ "%02d" | format((schedules_this_date[7]/60)%60)}} {{schedules_this_date[1]}} <input type="checkbox" name="delete_this_schedule" value="{{schedules_this_date[0]}}">削除</li>
        {% endfor %}
      </ul>
    </form>
  </body>
</html>
