<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>グループ加入</title>
</head>

<body>
    <form action="/joinGroup/in" method="post">
        <div>
            グループ名
            <input type="text" name="group_name">
        </div>
        <div>
            合言葉
            <input type="text" name="group_pass">
        </div>
        <input type="submit" value='OK'>
    </form>
</body>

</html>