<!DOCTYPE html>
<html lang="ja">

<script>
    function groupConf() {
        var group_name = document.getElementById("group_name").value;
        var group_pass = document.getElementById("group_pass").value;

        if (group_name == "" || group_pass == "") {
            alert("グループ名または合言葉が入力されていません");
        }
        else if (confirm("グループ名 : " + group_name + "\n合言葉     : " + group_pass + "\nに登録しますか？") == true) {
            document.getElementById("userInput").value = "True";
        }
        else {
            document.getElementById("userInput").value = "False";
        }
    }
</script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>グループ加入</title>
</head>

<body>
    <!-- action="/joinGroup" -->
    <form action="/" method="post">
        <div>
            グループ名
            <input type="text" id="group_name" name="group_name" value="">
        </div>
        <div>
            合言葉
            <input type="text" id="group_pass" name="group_pass" value="">
        </div>
        <input type="hidden" id="userInput" name="userInput">
        <button type="submit" onclick="groupConf()">加入する</button>
    </form>
</body>

</html>