<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SSS | グループ作成</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>新規グループを作成</h1>
    <br>
    <!---グループカレンダー用に書き換える--->
    <h2><a href="{{url_for('Gcalendar', year=year, month=month)}}">グループカレンダーに戻る</a></h2>
    <div class="parent">
      <form action="{{url_for('submit_new_group')}}" method="post">
        グループ名<br>
        <input type="text" name="group_name"><br>
        あいことば<br>
        <input type="text" name="keyword"><br>
        <input type="submit" name="登録" value="登録">
      </form>
    </div>
  </body>
</html>
