.wrapper{
  height: 100%;
  min-height: 96vh;
  position: relative;/*←相対位置*/
  padding-bottom: 100px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
#month{
  font-size: 200%;
}
footer{
  width: 100%;
  background-color: #ddd;
  color: #000;
  text-align: center;
  padding: 10px 0;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
footer ul{
  text-align: center;
}
footer ul li{
  padding: 0 4px;
  display: inline;
}
.table{
  width:100%;
  background: #FFFFFF;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
#weekday{
  font-size: 200%;
}
#date{
  text-align: center;
  font-size: 300%;
}
#linkmenu{
  font-size: 300%;
}
.parent{
  text-align: left;
}
#time_input{
  display: inline;
  text-align: left;
}
#schedules{
  display: inline;
  text-align: left;
}
h1{
  text-align: center;
}
.h1{
  text-align: center;
}
.box {
  background: #FFFFFF;
  margin: auto;
  width: 300px;
  padding: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.shade {
  background: #FFFFFF;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.sticky{
  width: 95vh;
  position: fixed;
  top: 2vh;
  left: 2vw;
  background: #FFFFFF;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.box input {
  background: #f0f0f0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
}
.box .trans {
  background: #32cd32;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
}
.box .trans:hover,.box .trans:active,.box .trans:focus {
  background: #228b22;
}
.body {
  background: linear-gradient(90deg, #00ffff, #00ff7f);
  background-attachment: fixed;
}
.box label{
  display: inline-block;
  text-align: left;
  width: 100%;
}
.btn { text-align : center ; }
.error {
  font-size: 12px;
  color: red;
  display: none;
}
.error2 {
  font-size: 12px;
  color: red;
}
input:invalid + .error  {
  display: block;
}
.number::-webkit-inner-spin-button,
.number::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}
